<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:replace="header.html :: header" ></div>


    <div class="container">
        <div class="row" th:each = "room  : ${roomEntities}"> <!-- 룸리스트 반복문 -->

            <div class="col-md-3">
                <button type="button" class="btn btn-outline-info"  th:data-bs-target="${'#modal'+room.rnum}" data-bs-toggle="modal">
                    <img th:src="@{ '/roomimg/'+${ room.roomimgEntities.get(0).rimg } }" width="100%">
                </button>
            </div>
            <div class="col-md-9">
                <h4 th:text="${'룸 상태 : ' + room.ractive  + '( 방 등록번호 : ' + room.rnum + ')'   }"></h4>
                <div class="row">
                    <div class="col-md-6 fs-6">
                        <table class="table">
                            <tr><td>이름</td><td th:text="${room.rname}"></td></tr>
                            <tr><td>주소</td><td th:text="${#strings.listSplit(room.raddress, ',' )[0] }"></td></tr> <!-- 타임리프 split :  #strings.listSplit( 모델명 , '자르기기준')  -->
                            <tr><td>내용</td><td th:text="${ room.rcontents}"></td></tr>
                            <tr><td>거래방식</td><td th:text="${room.rtrans}"></td></tr>
                            <tr><td>층수/전체</td><td th:text="${ room.rfloor}"></td></tr>
                            <tr><td>등록회원</td><td th:text="${ room.memberEntity.m_id}"></td></tr>
                        </table>
                    </div>
                    <div class="col-md-6 fs-6">
                        <table class="table">
                            <tr><td>거래가</td><td th:text="${room.rprice}"></td></tr>
                            <tr><td>면적</td><td th:text="${room.rarea}"></td></tr>
                            <tr><td>관리비</td><td th:text="${room.rmanagementfee }"></td></tr>
                            <tr><td>건물종류</td><td th:text="${ room.rkind}"></td></tr>
                            <tr><td>구조</td><td th:text="${room.rstructure}"></td></tr>
                            <tr><td>입주일자</td><td th:text="${ room.rindate}"></td></tr>
                            <tr><td>준공일자</td><td th:text="${ room.rcompletiondate}"></td></tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"><button class="form-control my-2" th:data-bs-target="${'#delete'+room.rnum}" data-bs-toggle="modal"> 삭제 </button></div>
                    <div class="col-md-4"><button class="form-control my-2" th:data-bs-target="${'#update'+room.rnum}" data-bs-toggle="modal"> 수정 </button> </div>
                    <div class="col-md-4"><button class="form-control my-2" th:data-bs-target="${'#active'+room.rnum}" data-bs-toggle="modal"> 상태변경 </button> </div>
                </div>
            </div>

            <!-- 수정 변경 모달 -->
            <div class="modal fade" tabindex="-1" th:id="${ 'update'+ room.rnum }" data-bs-keyboard="false" data-bs-backdrop="static">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content rounded-4 shadow">
                        <div class="modal-body p-4 text-center">
                            <h5 class="mb-0"> 방 수정 </h5>
                            <p class="mb-3" id="updatemsg"> 수정하고자 하는 내용을 선택해주세요!! </p>
                        </div>
                        <div class="modal-footer flex-nowrap p-0">
                            <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-1 m-0 rounded-0 border-right" th:onclick="roomupdate('rname' , [[${room.rname}]] , [[${room.rnum}]] )">이름 </button>  <!-- 필드명 , 기존값 , 룸번호 -->
                            <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-1 m-0 rounded-0 border-right" th:onclick="roomupdate('rprice', [[${room.rprice}]] , [[${room.rnum}]])">가격 </button>
                            <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-1 m-0 rounded-0 border-right" th:onclick="roomupdate('rarea', [[${room.rarea}]] , [[${room.rnum}]])">면적 </button>
                            <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-1 m-0 rounded-0 border-right" th:onclick="roomupdate('rmanagementfee', [[${room.rmanagementfee}]] , [[${room.rnum}]])">관리비</button>
                            <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-1 m-0 rounded-0 border-right" th:onclick="roomupdate('rcompletiondate', [[${room.rcompletiondate}]] , [[${room.rnum}]])">입주날짜 </button>
                            <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-1 m-0 rounded-0 border-right" th:onclick="roomupdate('rindate', [[${room.rindate}]] , [[${room.rnum}]])">준공날짜 </button>
                            <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-1 m-0 rounded-0 border-right" th:onclick="roomupdate('rstructure', [[${room.rstructure}]] , [[${room.rnum}]])">구조 </button>
                            <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-1 m-0 rounded-0 border-right" th:onclick="roomupdate('rfloor', [[${room.rfloor}]] , [[${room.rnum}]])">층수 </button>
                            <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-1 m-0 rounded-0 border-right" th:onclick="roomupdate('rkind', [[${room.rkind}]] , [[${room.rnum}]])">종류 </button>
                            <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-1 m-0 rounded-0 border-right" th:onclick="roomupdate('raddress', [[${room.raddress}]] , [[${room.rnum}]])">주소 </button>
                            <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-1 m-0 rounded-0 border-right" th:onclick="roomupdate('rcontents', [[${room.rcontents}]] , [[${room.rnum}]])">내용 </button>
                            <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-1 m-0 rounded-0 border-right" th:onclick="roomupdate('rtrans', [[${room.rtrans}]] , [[${room.rnum}]])">거래방식 </button>
                        </div>
                        <div class="modal-footer flex-nowrap p-0">
                            <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-12 m-0 rounded-0" data-bs-dismiss="modal"> 취소 </button>
                        </div>
                    </div>
                </div>
            </div>


            <!--  룸 상태변경 모달  -->
            <div class="modal fade" tabindex="-1" th:id="${ 'active'+ room.rnum }" data-bs-keyboard="false" data-bs-backdrop="static">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content rounded-4 shadow">
                        <div class="modal-body p-4 text-center">
                            <h5 class="mb-0"> 상태변경 </h5>
                            <p class="mb-3" id="activemsg"> 룸 상태 변경 승인 </p>
                        </div>
                        <div class="modal-footer flex-nowrap p-0">
                            <button type="button" class="btn btn-lg btn-link text-decoration-none col-2 m-0 rounded-0" style="font-size:8px" th:onclick="activeupdate([[${room.rnum}]]  , '검토중' ) "> 검토중<br>[거래불가] </button>
                            <button type="button" class="btn btn-lg btn-link text-decoration-none col-2 m-0 rounded-0" style="font-size:8px" th:onclick="activeupdate([[${room.rnum}]]  , '거래승인' ) "> 거래승인<br>[거래대기중] </button>
                            <button type="button" class="btn btn-lg btn-link text-decoration-none col-2 m-0 rounded-0" style="font-size:8px" th:onclick="activeupdate([[${room.rnum}]]  , '거래확인' )"> 거래확인<br>[개래완료승인대기] </button>
                            <button type="button" class="btn btn-lg btn-link text-decoration-none col-2 m-0 rounded-0" style="font-size:8px" th:onclick="activeupdate([[${room.rnum}]]  , '거래완료승인' )"> 거래완료승인<br>[거래완료] </button>
                            <button type="button" class="btn btn-lg btn-link text-decoration-none col-4 m-0 rounded-0" style="font-size:8px" data-bs-dismiss="modal"> 취소 </button>
                        </div>

                    </div>
                </div>
            </div>

            <!--  룸 삭제 모달  -->
            <div class="modal fade" tabindex="-1" th:id="${ 'delete'+ room.rnum }" data-bs-keyboard="false" data-bs-backdrop="static">
                <div class="modal-dialog" role="document">
                    <div class="modal-content rounded-4 shadow">
                        <div class="modal-body p-4 text-center">
                            <h5 class="mb-0"> 방삭제 </h5>
                            <p class="mb-3" id="deletemsg"> 방 삭제시 복구가 불가능합니다. 정말 삭제 하시겠습니까? </p>
                        </div>
                        <div class="modal-footer flex-nowrap p-0">
                            <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-right" th:onclick="rdelete([[${room.rnum}]])"><strong> 삭제 합니다.</strong></button>
                            <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal"> 삭제 취소합니다. </button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- 사진 확대 모달 [ 중복 ]  -->
            <div class="modal fade" th:id="${ 'modal'+ room.rnum }" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document"> <!-- modal-xl : 모달 1140px  modal-lg : 800px -->
                    <div class="modal-content rounded-5 shadow">
                        <div class="modal-header p-5 pb-4 border-bottom-0">
                            <h2 class="fw-bold mb-0">방 이미지</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>    <!-- 닫기 버튼 -->
                        </div>
                        <div class="modal-body p-5 pt-0">
                            <!-- 캐러셀 -->
                            <div th:id="${'carousel'+room.rnum}" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">

                                    <div class="carousel-item active" > <!-- 대표 이미지  -->
                                        <img th:src="@{ '/roomimg/'+${ room.roomimgEntities.get(0).rimg } }"  class="d-block w-100">
                                    </div>
                                    <div class="carousel-item" th:each=" roomimg :  ${ room.roomimgEntities }"> <!-- 반복문 -->
                                                                <!-- active : 현재 보고있는 이미지 설정 [  한곳에만 설정 ]  -->
                                        <img th:src="@{ '/roomimg/' + ${roomimg.rimg} }" class="d-block w-100" alt="...">
                                    </div>

                                </div>
                                <button class="carousel-control-prev" type="button" th:data-bs-target="${'#carousel'+room.rnum}" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" th:data-bs-target="${'#carousel'+room.rnum}" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- row end -->
    </div> <!-- controller end -->


    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b7c0acb1395b016fc6b2661dad73840f&libraries=services"></script>
    <script th:src = "@{/js/roomlist.js}"></script>

</body>
</html>