<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:replace="header.html :: header" ></div>

    <div class="container">
        <div class="row">

            <div class="col-md-6">  <!-- 아이디찾기  -->
                <form action="/member/findidcontroller" method="post">
                    이름 : <input type="text" name="m_name">
                    이메일 : <input type="text" name="m_email">
                    <input type="submit" value="아이디찾기">
                </form>
            </div>

            <div class="col-md-6">  <!-- 패스워드찾기 -->
                <form action="/member/findpasswordcontroller" method="post">
                    아이디 : <input type="text" name="m_id">
                    이메일 : <input type="text" name="m_email">
                    <input type="submit" value="아이디찾기">
                </form>
            </div>

        </div>
    </div>


</body>
</html>