<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:replace="header.html :: header" ></div>

    <form action="/member/logincontroller" method="post">
        id : <input type="text" name="mid">
        password : <input type="password" name="m_password">
        <input type="submit" value="로그인">

        <a href="/oauth2/authorization/kakao">카카오로그인</a>
        <a href="/oauth2/authorization/naver">네이버로그인</a>

    </form>

</body>
</html>