<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:replace="header.html :: header" ></div>

    <div class="container">
        <form action="/member/logincontroller" method="post">
            id : <input type="text" name="mid">
            password : <input type="password" name="m_password">
            <input type="submit" value="로그인">

            <a href="/oauth2/authorization/kakao">카카오로그인</a>
            <a href="/oauth2/authorization/naver">네이버로그인</a>
            <a href="/oauth2/authorization/google">구글로그인</a>
        </form>

        <div th:if="${param.error}">
            로그인실패 [ 아이디 혹은 비밀번호가 다릅니다 ]
        </div>

    </div>
</body>
</html>