<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



    <script th:src = "@{/js/signup.js}"></script>

    <div class="container">

        <div class="row">
            <div class="col-md-5 mx-3 border p-3 rounded-3 shadow p-3 mb-5 bg-body rounded  ">
                <h3> SNS 연동 회원가입 </h3>
                <button>구글 로그인</button>  <button>카카오 로그인</button> <button>네이버 로그인</button>
                <hr>
                <h3> *회원가입 약관 </h3>
                <textarea  class="form-control" rows="8"  style="resize: none;">
                    동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용
                    동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용
                    동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용
                    동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용
                    동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용동의서내용
                </textarea>
                    <input type="checkbox" class="m-3" name="signupsign"> *회원가입 약관 동의 합니다 .*
                <hr>
                <h3> *개인정보처리방침 </h3>
                <textarea  class="form-control" rows="8" style="resize: none;">
                    개인정보처리방침개인정보처리방침개인정보처리방침개인정보처리방침개인정보처리방침개인정보처리방침개인정보처리방침
                    개인정보처리방침개인정보처리방침개인정보처리방침개인정보처리방침개인정보처리방침개인정보처리방침개인정보처리방침
                    개인정보처리방침개인정보처리방침개인정보처리방침개인정보처리방침개인정보처리방침개인정보처리방침개인정보처리방침
                    개인정보처리방침개인정보처리방침개인정보처리방침개인정보처리방침개인정보처리방침개인정보처리방침개인정보처리방침
                    개인정보처리방침개인정보처리방침개인정보처리방침개인정보처리방침개인정보처리방침개인정보처리방침개인정보처리방침
                </textarea>
                    <input type="checkbox" class="m-3" name="infosign" > *개인정보처리방침 동의 합니다.*
            </div>

        <div class="col-md-5 offset-1 border p-3 rounded-3 shadow p-3 mb-5 bg-body rounded  ">
            <form  method="post" action="/member/signupcontroller">
                <h3 class="text-center"> Ansan 회원가입 </h3>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-4" id="m_id" name="m_id" placeholder="아이디">
                    <label for="floatingInput" id="idcheck">아이디</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" class="form-control rounded-4" id="m_password" name="m_password" placeholder="비밀번호">
                    <label for="floatingInput" id="passwordcheck" >비밀번호</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" class="form-control rounded-4" id="m_passwordconfirm" name="m_passwordconfirm" placeholder="비밀번호확인">
                    <label for="floatingInput">비밀번호확인</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-4" id="m_name" name="m_name" placeholder="이름">
                    <label for="floatingInput"  id="namecheck" >이름</label>
                </div>

                <div class=" mb-3 text-center ">
                    <input type="radio"  name="m_sex" id="m_sex1" value="남" checked="checked">남자
                    <input type="radio"  name="m_sex" d="m_sex2"  value="여" >여자
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-4" id="m_phone" name="m_phone" placeholder="연락처">
                    <label for="floatingInput" id="phonecheck">연락처</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-4" id="m_email" name="m_email" placeholder="이메일">
                    <label for="floatingInput" id="emailcheck">이메일</label>
                </div>

                <div class="row g-0">
                    <div class="col-md-4"> <input type="text" id="sample4_postcode" class="form-control" placeholder="우편번호" name="address1" > </div>
                    <div class="col-md-5"> <input type="text" id="sample4_roadAddress" class="form-control"  placeholder="도로명주소" name="address2" > </div>
                    <div class="col-md-3">  <input type="button" onclick="sample4_execDaumPostcode()" class="form-control" value="주소검색"> </div>
                </div>
                <input type="text" id="sample4_jibunAddress" class="form-control"  placeholder="지번주소" name="address3"  >
                <input type="text" id="sample4_detailAddress" class="form-control"  placeholder="상세주소" name="address4"  >
                <div class="text-center" id="addresscheck"></div>
                <input id="formsubmit"  type="button" class="form-control p-3 my-3" value="회원가입">
            </form>
        </div>
    </div>
    </div>
</body>
</html>